* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For testing only */
/*
*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}
*/
/* End for testing */

body {
  background: #e7e7e7;
  font-family: 'Georgia', serif;
  padding: 0 15px;
  color: #2d2d2d;
}

a {
  color: #890101;
  text-decoration: none;
}

li {
  font-family: 'Helvetica', Arial, serif;
  text-transform: uppercase;
  text-align: center;
  font-size: .65em;
  /*border-bottom: 1px solid darkgrey;*/
  /*float: left;*/
  width: 33%;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

li hr {
  margin: 10px 5px;
}

.nav {
  margin: 30px 10px 30px 10px;
}

.logo {
  position: relative;
}

#wordmark {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  margin-bottom: 30px;
}

h2, #horiz {
  font-family: 'Hoefler Text', 'Baskerville old face', Garamond, 'Times New Roman', serif;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
}

h2 span {
  font-style: italic;
}

p {
  padding-top: 10px;
  margin-bottom: 10px;
  line-height: 1.3em;
  width: 100%;
  text-align: center;
}

.column p:not(last-child) {
  text-align: left;
}

#horiz {
  border-bottom: 1px solid #2d2d2d;
  line-height: .1em;
  margin-top: 25px;
  margin-bottom: 40px;
}

#victor {
  background-color: #e7e7e7;
  padding-left: 25px;
  padding-right: 25px;

}

#baskerville {
  font-family: "Baskerville";
  border-bottom: 2px dotted #2d2d2d;
}

.first-name, .last-name {
  text-transform: uppercase;
  text-align: center;
}

.first-name {
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.5px;
  font-weight: lighter;
}

.last-name {
  font-size: 14px;
  line-height: 15px;
  font-weight: bolder;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

#rag {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
}


.profile img {
  width: 100%;
  border-radius: 7px;
}

.footer {
  clear: both;
  font-size: 12px;
  line-height: 1.9em;
}


@media screen and (max-width: 600px) {


  .all-profiles {
    width: 100%;
  }

  .profile {
    max-width: 49%;
    float: left;
  }

  ul {
    width: 100%;
  }

  li {
    float: left;
  }

  .last-name:nth-child(n+5) {
    margin-bottom: -30px;
  }
  .profile:nth-child(n+5) {
    /*background-color: tomato;*/
    margin-bottom: -25px;
  }

  /*should go in media query for mobile*/
  .profile:nth-child(odd) {
    margin-right: 2%;
  }

  .footer-div {
    width: 100%;
    position: relative;
    margin-bottom: 65px;

  }

  #footer-ornament {
    border-bottom: 1px solid #2d2d2d;
  }

  #footer-ornament img {
    position: relative;
    transform: translateY(65%);
  }

#logo-bg {
  display: none;
}

}

@media screen and (min-width: 601px) and (max-width: 1300px) {

  .logo {
  position: relative;
  top: 20px;
  }

  #logo-bg {
  position: relative;
  }

  #wordmark {
    position: absolute;
    top: 105px;
    left: 140px;
  }

  ul {
    list-style: none;

  }

.logo-nav {
  width: 279px;
  float: left;
}

.column {
  width: 70%;
  float: right;
  margin-top: 130px;
}

.profile {
  max-width: 32%;
  float: left;
}

.profile:nth-child(3n+2) {
  margin-left: 2%;
  margin-right: 2%;

}
}

@media all and (min-width: 1301px) {

}

.cf:after {
  content: "";
  display: table;
  clear: both;
}
