* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e7e7e7;
  font-family: 'Georgia', serif;
}

a {
  color: #890101;
  text-decoration: none;
}

ul {
  width: 100%;
}


li {
  font-family: 'Helvetica', serif;
  text-transform: uppercase;
  text-align: center;
  font-size: .8em;
  /*border-bottom: 1px solid darkgrey;*/
  float: left;
  width: 33%;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

li hr {
  margin: 10px 5px;
}

.nav {
  margin: 30px 10px 30px 10px;

}

.logo {
  position: relative;
}

#wordmark {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  margin-bottom: 30px;
}




@media all and (max-width: 600px) {

}

@media all and (min-width: 601px, max-width: 1300px) {

}

@media all and (min-width: 1301px) {

}
