* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e7e7e7;
  font-family: 'Georgia', serif;
  padding: 0 15px;
  color: #2d2d2d;
}

a {
  color: #890101;
  text-decoration: none;
}

ul {
  width: 100%;
}


li {
  font-family: 'Helvetica', Arial, serif;
  text-transform: uppercase;
  text-align: center;
  font-size: .65em;
  /*border-bottom: 1px solid darkgrey;*/
  float: left;
  width: 33%;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

li hr {
  margin: 10px 5px;
}

.nav {
  margin: 30px 10px 30px 10px;
}

.logo {
  position: relative;
}

#wordmark {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  margin-bottom: 30px;
}

h2, #horiz {
  font-family: 'Hoefler Text', 'Baskerville old face', Garamond, 'Times New Roman', serif;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
}

h2 span {
  font-style: italic;
}

p {
  padding-top: 10px;
  margin-bottom: 10px;
  line-height: 1.3em;
  width: 100%;
  text-align: center;
}

#horiz {
  border-bottom: 1px solid #2d2d2d;
  line-height: .1em;
  margin-top: 25px;
  margin-bottom: 40px;
}

#victor {
  background-color: #e7e7e7;
  padding-left: 25px;
  padding-right: 25px;

}

#baskerville {
  font-family: "Baskerville";
  border-bottom: 2px dotted #2d2d2d;
}

#first-name, #last-name {
  text-transform: uppercase;
  text-align: center;
}

.profile {
  max-width: 49%;
  float: left;
}

/*should go in media query for mobile*/
.profile:nth-child(odd) {
  margin-right: 2%;
  border: solid 1px pink;
}

.profile img {
  width: 100%;
  border-radius: 7px;
}

.all-profiles {
  width: 100%;
}

.footer {
  clear: both;
}

@media screen and (max-width: 600px) {
  font-family: Arial, serif;
}

@media all and (min-width: 601px, max-width: 1300px) {

}

@media all and (min-width: 1301px) {

}
